*{
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
@media screen and (min-width: 900px) {
    .header{
        display: none;
    }
    .body{
        display: none;
    }
    .bottom{
        display: none;
    }
}






@media screen and (max-width: 800px) 
{
    .pc{
        display: none;
    }
    .header{
        height: 1.7rem;
        padding: 6%;
        font-size: 22px;
        text-align: left;
       background-color: rgb(230, 229, 229);
    }
    .btn{
        color: black;
        display: block;
        right: 0;
        text-align: right;
        margin-top: -5%;
        font-size: 18px;
    }
    .button{
        margin-top: 10%;
        width: 45%;
        padding: 6%;
        font-size: 21px;
        font-weight: 800;
        border-radius: 5%;
    }
    .h1{
        color: rgb(1, 45, 82);
        width: 76%;
        font-size: 38px;
        text-align: left;
        margin-left: 2%;
        margin-top: 5%;
        text-shadow: 1.5px 1.5px #5d3bf5;
    }
    .h2{
        width: 86%;
        text-align: left;
        margin-top: 2.5%;
        font-size: 22px;
        margin-left: 2%;
        color: rgb(85, 85, 85);
    }
    .getstarted{
        background-color: rgb(0, 57, 133);
        color: white;
        display: flex;
        width: max-content;
        padding: 2.5%;
        font-size: 18px;
        margin-top: 8%;
        margin-left: 4%;
        border-radius: 9%;
    }
    .who{
        color: rgb(1, 45, 82);
        text-shadow: 0.4px 0.4px #5d3bf5;
        font-weight: 600;
        font-size: 30px;
    }
    .content{
        width: 94%;
        text-align: justify;
        margin-top: 2.5%;
        font-size: 20px;
        margin-left: 2%;
        color: rgb(85, 85, 85);
    }
    .bottom{
        padding: 5%;
        bottom: 0;
        background-color: rgb(230, 229, 229);
    }
    .head{
        font-family:fantasy;
    }
    .images{
        margin-right: 9%;
        height: 9%;
        width: 9%;
    }
    .rate {
        display: block;
        width: 70%;
        height: 46px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width: 1em;;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffe600;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #fcf700;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #ffc800;
    }
    
}