*{
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
.header{
    height: 2rem;
    padding: 3%;
    background-color: rgb(230, 229, 229);
    color: rgb(6, 82, 117);
    font-weight: 600;
    font-size: 30px;
}
.button{
    display: inline-flex;
    width: 20%;
    margin: 4%;
    height: max-content;
    padding: 2%;
    font-size: 22px;
    position: relative;
    font-weight: 1000;
    border: 3.5px solid black;
}
.button:hover{
    border: 3.5px solid greenyellow;
}






@media screen and (max-width: 800px) 
{
    .header{
        height: 1.2rem;
        padding: 5%;
        font-size: 22px;
        text-align: left;
    }

 table{
   
 }
 table tr{
    
 }
 .bottom{
    padding: 5%;
    bottom: 0;
    background-color: rgb(230, 229, 229);
}
.head{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.images{
    margin-left: 7%;
    margin-right: 2%;
    height: 9%;
    width: 9%;
}
.rate {
    display: block;
    width: 74%;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width: 1em;;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffe600;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #fcf700;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ffc800;
}

}