*{
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
.header{
    height: 2rem;
    padding: 3%;
    background-color: rgb(230, 229, 229);
    color: rgb(6, 82, 117);
    font-weight: 600;
    font-size: 30px;
}
.button{
    display: inline-flex;
    width: 20%;
    margin: 4%;
    height: max-content;
    padding: 2%;
    font-size: 22px;
    position: relative;
    font-weight: 1000;
    border: 3.5px solid black;
}
.button:hover{
    border: 3.5px solid greenyellow;
}







@media screen and (max-width: 800px) 
{
    .header{
        height: 1.7rem;
        padding: 6%;
        font-size: 22px;
        text-align: left;
    }
    .btn{
        color: black;
        display: block;
        right: 0;
        text-align: right;
        margin-top: -5%;
        font-size: 18px;
    }
    .button{
        margin-top: 10%;
        width: 45%;
        padding: 6%;
        font-size: 21px;
        font-weight: 800;
        border-radius: 5%;
    }
    .h1{
        color: rgb(1, 45, 82);
        width: 68%;
        font-size: 38px;
        text-align: left;
        margin-left: 2%;
        margin-top: 5%;
        text-shadow: 1.5px 1.5px #5d3bf5;
    }
    .h2{
        width: 82%;
        text-align: left;
        margin-top: 2.5%;
        font-size: 22px;
        margin-left: 2%;
        color: rgb(85, 85, 85);
    }
    .getstarted{
        background-color: rgb(0, 57, 133);
        color: white;
        display: flex;
        width: max-content;
        padding: 2.5%;
        font-size: 18px;
        margin-top: 8%;
        margin-left: 4%;
        border-radius: 9%;
    }
}